---
import BaseLayout from './BaseLayout.astro';
import { fade } from "astro:transitions";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>

  <div class="article-full flow-content">
    <p><em>{frontmatter.description}</em></p>
    <p>Working at: {frontmatter.jobplace}</p>
  
    <img class="project-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
  </div>

  <slot />
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>